* {
    font-weight: bolder;
}

body {
    background-image: url(../images/background.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    font-family: helvetica, arial;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
    margin-top: 100px;
    background-color: white;
    display: inline-block;
    background-color: rgb(0, 255, 55);
    border-radius: 45px;
    
}

h1, table {
    text-align: center;
    margin: 15px;
    
}

table{
    margin: 30px;
    border: 1px solid black;
    border-radius: 5px;
}
th, td {
    border: 1px solid black;
    padding: 10px;
    
}

th {
    background-color: black;
    color: white;
}

tr {
    background-color: rgb(224, 248, 159);
}

tr:hover {
    background-color: rgb(244, 159, 248);
}

tbody tr:nth-child(even) {
    background-color: #00ffff;
}

tbody tr:nth-child(even):hover {
    background-color: #0044ff;
}


